@include critical {
    body {
        margin: 0;
        padding: 0;

        background-color: var(--color-background-secondary);
        color: var(--color-text);
        min-height: 100vh;
    }
    header, main, footer {
        margin: 0 auto;
        width: 100%;
        max-width: get-setting(grid, max-width);
    }

    header {
        @extend %flex,
            %flex--justify-space-between,
            %flex--align-flex-end;
    }

    .header {
        @extend %flex,
            %flex--justify-flex-start,
            %flex--align-flex-end;

        &__logo {
            svg {
                fill: var(--color-text);
                width: 8rem;
                height: 8rem;
            }
        }
        &__title {
            color: var(--color-text);
        }
    }
    .nav {
        @extend %flex,
            %flex--justify-flex-start,
            %flex--align-flex-end;

        @include padding-y(1);

        &__item {
            @extend %flex,
                 %flex--inline,
                %flex--justify-center,
                %flex--align-center,
                %font--monospace,
                %font--large;

            color: var(--color-tertiary);

            &--highlight {
                color: var(--color-primary);
            }
            &__icon {
                @include margin-right(.5);
            }
            + .nav__item {
                @include margin-left(1);
            }
        }
    }
    main > section {
        @include padding(0, 2, 2);
        @include margin-y(4);
        position: relative;

        &:before {
            @include position-absolute($top: -6rem, $left: 0);
            width: 100%;
            height: 2rem;
            content: '';
            background-color: var(--color-primary);
            transform-origin: 50% 50%;
        }
        ~ section {
            &:before {
                transform: rotate(3deg);
            }
            &:nth-child(even):before {
                transform: rotate(-3deg);
            }
            &:nth-child(2):before {
                background-color: var(--color-secondary);
            }
            &:nth-child(3):before {
                background-color: var(--color-tertiary);
            }
            &:nth-child(4):before {
                background-color: var(--color-primary-darker);
            }
            &:nth-child(5):before {
                background-color: var(--color-secondary-darker);
            }

            &:nth-child(6):before {
                background-color: var(--color-tertiary-darker);
            }
        }

        &.splash {
            h1.splash__title {
                display: inline;
                background-color: var(--color-background);

                .spinner {
                    display: table;
                    background-color: var(--color-secondary);
                    color: var(--color-background);
                    &:after {
                        content: '_';
                        background-color: var(--color-background);
                        color: var(--color-secondary);
                    }
                    &.done:after {
                        content: '?';
                    }
                }
            }
            p.splash__cta {
                text-align: center;

                .button {
                    @extend %font--x-large, %font--bold;
                }
            }    
        }
    }
}

@include non-critical {
    footer p {
        @extend %font--small;
    }
}
