@include critical {

    h1 {
        color: var(--color-secondary);
    }
    h2 {
        color: var(--color-tertiary);
    }
    h3 {
        color: var(--color-primary);
    }
    h4 {
        color: var(--color-primary-lighter);
    }
    ul, li {
        @extend %font--monospace;
    }
    .pricing {
        &__list {
            @extend %flex,
                %flex--justify-stretch,
                %flex--align-stretch;

            @include margin-y(2);
        }

        &__item {
            @include flex-item-width(33%);
            @include padding(1);
            flex-grow: 1;

            &:nth-child(even) {
                background-color: var(--color-background);
            }

            ~ .pricing__item {
                @include margin-left(1);
            }
        }
    }
    .price {
        @extend %flex,
            %flex--column,
            %flex--align-stretch,
            %flex--justify-stretch;
            
        &__title {
            @include margin(0);
        }
        &__description {
            flex-grow: 1;
            :first-child {
                @include margin-top(0);
            }
        }
        &__footer {
            @extend %flex,
                %flex--justify-space-between,
                %flex--align-center;

            .button {
                @extend %font--base;
            }
        }
        &__price strong {
            @extend %font--x-large;
        }
    }
}