@include critical {
    .button {
        @extend %flex,
        %flex--inline,
        %flex--justify-center,
        %flex--align-center;
        @extend %font--monospace,
            %font--normal,
            %font--large;

        @include padding(1);

        background-color: var(--color-primary);
        border-radius: .5rem;
        color: var(--color-text);

        i {
            @include margin-right(.5);
        }
    }
}

@include non-critical {
    .button:hover {
        background-color: var(--color-secondary);
        color: var(--color-text);
    }
}